{% extends "master.html" %}
{% block title %}
    <title>excerpts</title>
{% endblock %}

{% block body %}
<style>
    .h-space {
        position:relative;
        display: inline-block;
        width: 4em;
        height: 1em;
        line-height:1;
    }
    #excerpt-controls > div {
        margin-left:10%;
    }
    #title {
        text-align: center;
        font-family: Verdana;
    }
</style>
<div id="excerpt-controls">
    <div id="excerpt-details">
        <span>There are {{ data.count }} excerpts available.</span>
        <span>Which page do you want? (1 - {{ data.count }})</span>
    </div>
    <div>
        <div>
            <span>Excerpt #:</span>
            <input id="page-num" type="number" min="1" max="{{ data.count }}" />
            <button id="get-page">Get Excerpt</button>
            <div class="h-space"></div>
            <button id="prev-page">Prev</button>
            <button id="next-page">Next</button>
            <hr/>
            <button id="save-page">Save Excerpt</button>
            <div class="h-space"></div>
            <button id="new-page">New Excerpt</button>
            <div></div>
            <div class="h-space"></div>
            <button id="delete-page">DELETE Excerpt</button>
        </div>
    </div>
    <hr/>
</div>

<h1 id="title"></h1>
<script src="public/js/lib/ckeditor/ckeditor.js"></script>

<textarea id="editor" rows="10" cols="80"></textarea>
<script>
(function() {
var getPageEl= document.getElementById("get-page");
var pageNumEl = document.getElementById("page-num");
var savePageEl = document.getElementById("save-page");
var deletePageEl = document.getElementById("delete-page");
var newPageEl = document.getElementById("new-page");
var nextPageEl = document.getElementById("next-page");
var prevPageEl = document.getElementById("prev-page");
var titleEl = document.getElementById("title");

var editor = CKEDITOR.replace("editor");
var __PAGE__ = pageNumEl.value;
var url = new URL(window.location.href);
var search = url.search.substr(1);
var searchSplit = search.split("=");
var queries = {};

window.editor = editor;
getPageEl.addEventListener("click", function (event) {
    loadPage(pageNumEl.value);
});

nextPageEl.onclick = function () { loadPage(Number(__PAGE__)+1); };
prevPageEl.onclick = function () { loadPage(Number(__PAGE__)-1); };

savePageEl.addEventListener("click", function (event) {
    savePage();
});

deletePageEl.addEventListener("click", function (event) {
    deletePage();
});


newPageEl.addEventListener("click", function (event) {
    $.ajax({
        url:"new",
        type:"GET",
        success: function (data, status, jqXHR) {
            goToPage(data);
        }
    });
});

pageNumEl.addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
        loadPage(this.value);
    }
});

if (document.readyState === "interactive" || 
    document.readyState === "ready" || 
    document.readyState === "complete" ) 
{
    init();
} else { document.addEventListener("DOMContentLoaded", init); }


function init () {
    for (var i=0; i<searchSplit.length; i=2*(i+1)) {
        queries[searchSplit[i]] = searchSplit[i+1];
    }
    if (queries.page) {
        window.setTimeout(function() {
            loadPage(queries.page)
        },777); // editor isn't ready for whatever reason and provides no callback
    }
}
function getText () {
    var data = CKEDITOR.instances.editor.getData();
    console.log(data);
    return data;
}

function getPage (pageNum, callback) {
    __PAGE__ = pageNum;
    $.ajax({
        url:"get",
        type:"POST",
        contentType:"application/json",
        data:JSON.stringify({
            page: pageNum
        }),
        success: function (data, status, jqXHR) {
            if (jqXHR.status === 202) {
                alert ("Excerpt doesn't exist.");
            } else {
                callback && callback(data);
            }
        }
    });
    return null;
}

function savePage (callback) {
    var pageNum = __PAGE__;
    var parser = new DOMParser();
    var contents = editor.getData();
    var doc = parser.parseFromString(contents, "text/html");
    var title = doc.querySelector("h1") || {};
    title = title.innerHTML;

    $.ajax({
        url:"save",
        type:"POST",
        contentType:"application/json",
        data:JSON.stringify({
            pageNum: __PAGE__,
            contents: contents,
            title: title
        }),
        success: function (data, status, jqXHR) {
            callback && callback(data);
            alert("saved");
        }
    });

    titleEl.innerHTML = title;
}

function deletePage (callback) {
    var pageNum = __PAGE__;
    var confirmation = confirm ("ARE YOU SERIOUS? THIS PAGE WILL BE DELETED FOREVER.");
    if (!confirmation) { return false; }

    $.ajax({
        url:"delete",
        type:"POST",
        contentType:"application/json",
        data:JSON.stringify({
            pageNum: __PAGE__
        }),
        success: function (data, status, jqXHR) {
            callback && callback(data);
            goToPage(1);
        }
    });
}


function loadPage (pageNum) {
    pageNumEl.value = pageNum;
    getPage(pageNum, function(data) {
        editor.setData("", {
            callback: function () {
                editor.insertHtml(data.excerpt)
                titleEl.innerHTML = data.title;
            }
        });
    });
}

function goToPage (pageNum) {
    window.location.href = window.location.protocol + "//" + window.location.hostname + window.location.pathname + "?page=" + pageNum;
}

})();
</script>
{% endblock %}
